<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ToDoの編集</title>
  </head>
  <body>
    <h1>ToDoの編集</h1>
    <form action="/todos/<%= todo._id %>?_method=PUT" method="POST">
      <section>
        <label for="name">タイトル</label>
        <input
          type="text"
          name="name"
          id="name"
          placeholder="タイトル"
          value="<%= todo.name %>"
        />
      </section>
<section>
  <label for="date">日付</label>
  <input
    type="date"
    name="date"
    id="date"
    placeholder="日付"
    value="<%= todo.date %>"
  />
</section>
<section>
  <label for="category">優先順位</label>
  <select name="category" id="category" value="<%= todo.category %>">
    <% for(let category of categories){ %>
    <option value="<%= category %>" <%= todo.category === category ? 'selected' : '' %>><%= category %></option>
    <% } %>
  </select>
</section>
<section>
  <label for="memo">メモ</label>
  <br>
  <textarea name="memo" id="memo" cols="30" rows="5" placeholder="メモ"><%= todo.memo %></textarea>
</section>
<button>登録</button>
    </form>
    <a href="/todos/<%=todo.id %>">戻る</a>
  </body>
</html>
